/* Common CSS styles */

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 1210px;
    max-width: 100%;
    margin: 0 auto;
}

/* Header Area style */
header{
    background: url('../images/banner/banner3.png') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 200px 0 150px 0;
}
.banner{
    text-align: right;
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
}

.banner h1{
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    max-width: 500px;
    margin-bottom: 20px;
}
.banner p{
    color: #FFF;
    font-size: 16px;
    line-height: 26px;
    max-width: 500px;
    margin-bottom: 20px;
}
.banner p{
    color: #FFF;
    font-size: 16px;
    line-height: 26px;
    max-width: 500px;
    margin-bottom: 20px;
}
.button{
    padding: 20px 35px;
    border-radius: 5px;
    background: #FFF;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

/* Failer area styles */
.failer_area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    margin: 120px auto;
}
.failer_area .img{
    width: 50%;
}
.failer_area .img img{
    max-width: 520px;
}
.failer_area .f_cont{
    width: 50%;
}
.failer_area .f_cont h2{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    width: 280px;
    margin-bottom: 20px;
}
.failer_area .f_cont p{
    color: #444343;
    font-size: 16px;
    line-height: 26px;
    width: 400px;
    margin-bottom: 20px;
}
.failer_area .f_cont ul li{
    color:  #444343;
    font-size: 16px;
    line-height: 26px;
    list-style: url('../images/icons/check.svg');
    margin-top: 10px;
    margin-left: 30px;
}

.plan_area {
    margin-bottom: 120px;
}
.plan_area h2{
    text-align: center;
    color:#151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}
.plan_items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align:center ;
}
.plan_items img{
    margin-bottom: 20px;
}
.plan_items h3{
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}
.plan_items p{
    color:#737272;
    font-size: 25px;
    font-weight: 500;
}

/* mindset section style here  */

.mindset{
    background: url('../images/watch.png') no-repeat center center;
    background-size: cover;
    border-radius: 8px;
    margin-bottom: 120px;
}
.mindset .inner_mindset{
    padding: 60px;
    border-radius: 8px;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%);
}
.mindset .inner_mindset h2{
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
    max-width: 450px;
}