/* Common CSS styles */

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 1210px;
    max-width: 100%;
    margin: 0 auto;
}

/* Header Area style */
header{
    background: url('../images/banner/banner3.png') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 200px 0 150px 0;
}
.banner{
    text-align: right;
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: column;
}

.banner h1{
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    max-width: 500px;
    margin-bottom: 20px;
}
.banner p{
    color: #FFF;
    font-size: 16px;
    line-height: 26px;
    max-width: 500px;
    margin-bottom: 20px;
}
.banner p{
    color: #FFF;
    font-size: 16px;
    line-height: 26px;
    max-width: 500px;
    margin-bottom: 20px;
}
.button{
    padding: 20px 30px;
    border-radius: 5px;
    background: #FFF;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    border: none;
}